# Python
__pycache__/
*.py[cod]

# Virtual environments
venv/
env/
.venv/

# Django
*.log
db.sqlite3
media/
staticfiles/

# Local settings
main/settings/local.py

# Environment variables
.env
.env.*

# IDEs
.vscode/
.idea/

# OS files
.DS_Store
Thumbs.db

# Tests / coverage
.coverage
htmlcov/

# Build
*.egg-info/
